<p style ="text-align:center">
    <img src="http://epecora.com.br/DataFiles/PPGOLD_PPGMNE.png" width="700" alt="PPGOLD Data Science: INTRO"  />
</p>

# Python - Aula 04
<a href="https://www.linkedin.com/in/eduardopecora/" target="_blank">Eduardo Pecora</a>

## Pandas: Manipulações do Data Frame

In [1]:
import pandas as pd
import numpy as np

# Sample data
data1 = {'Country': ['USA', 'China', 'India', 'Brazil'],
         'Population_2000': [281421906, 1262645000, 1056570000, 174468575],
         'Population_2010': [308745538, 1337705000, 1230985000, 190755799],
         'Population_2020': [335946003,1424798421 , 1383112050, 213196304]}

data2 = {'Country': ['Russia', 'Japan', 'Germany', 'United Kingdom'],
         'Population_2000': [14676276, 126911000, 82431300, 59615200],
         'Population_2010': [142958000, 128057352, 81802257, 62766365],
         'Population_2020': [145617329,125244761 , 83328988, 66788659]}

# https://www.worldometers.info/world-population/population-by-country/

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

## Concatenate two or more DFs

In [2]:
# Concatenating DataFrames
combined_df = pd.concat([df1, df2], ignore_index=True)
combined_df

          Country  Population_2000  Population_2010  Population_2020
0             USA        281421906        308745538        335946003
1           China       1262645000       1337705000       1424798421
2           India       1056570000       1230985000       1383112050
3          Brazil        174468575        190755799        213196304
4          Russia         14676276        142958000        145617329
5           Japan        126911000        128057352        125244761
6         Germany         82431300         81802257         83328988
7  United Kingdom         59615200         62766365         66788659

### Add a new row at the end

In [3]:
combined_df.dtypes

Country            object
Population_2000     int64
Population_2010     int64
Population_2020     int64
dtype: object

In [4]:
# Adding a row value
combined_df.loc[combined_df.shape[0]] = ['France', np.nan, np.nan,np.nan]
combined_df

          Country  Population_2000  Population_2010  Population_2020
0             USA     2.814219e+08     3.087455e+08     3.359460e+08
1           China     1.262645e+09     1.337705e+09     1.424798e+09
2           India     1.056570e+09     1.230985e+09     1.383112e+09
3          Brazil     1.744686e+08     1.907558e+08     2.131963e+08
4          Russia     1.467628e+07     1.429580e+08     1.456173e+08
5           Japan     1.269110e+08     1.280574e+08     1.252448e+08
6         Germany     8.243130e+07     8.180226e+07     8.332899e+07
7  United Kingdom     5.961520e+07     6.276636e+07     6.678866e+07
8          France              NaN              NaN              NaN

In [5]:
combined_df.dtypes

Country             object
Population_2000    float64
Population_2010    float64
Population_2020    float64
dtype: object

### Fill the missing values with Zero

In [6]:
# Filling missing values with 0
filled_df = combined_df.fillna(0)
filled_df

          Country  Population_2000  Population_2010  Population_2020
0             USA     2.814219e+08     3.087455e+08     3.359460e+08
1           China     1.262645e+09     1.337705e+09     1.424798e+09
2           India     1.056570e+09     1.230985e+09     1.383112e+09
3          Brazil     1.744686e+08     1.907558e+08     2.131963e+08
4          Russia     1.467628e+07     1.429580e+08     1.456173e+08
5           Japan     1.269110e+08     1.280574e+08     1.252448e+08
6         Germany     8.243130e+07     8.180226e+07     8.332899e+07
7  United Kingdom     5.961520e+07     6.276636e+07     6.678866e+07
8          France     0.000000e+00     0.000000e+00     0.000000e+00

### Select the `numeric` columns and compute their average

In [7]:
mean_values = combined_df.select_dtypes(include='number').mean()
mean_values

Population_2000    3.823424e+08
Population_2010    4.354719e+08
Population_2020    4.722541e+08
dtype: float64

### Fill the missing values with the average of each column

In [8]:
# Filling missing values with average
filled_df = combined_df.fillna(mean_values)
filled_df

          Country  Population_2000  Population_2010  Population_2020
0             USA     2.814219e+08     3.087455e+08     3.359460e+08
1           China     1.262645e+09     1.337705e+09     1.424798e+09
2           India     1.056570e+09     1.230985e+09     1.383112e+09
3          Brazil     1.744686e+08     1.907558e+08     2.131963e+08
4          Russia     1.467628e+07     1.429580e+08     1.456173e+08
5           Japan     1.269110e+08     1.280574e+08     1.252448e+08
6         Germany     8.243130e+07     8.180226e+07     8.332899e+07
7  United Kingdom     5.961520e+07     6.276636e+07     6.678866e+07
8          France     3.823424e+08     4.354719e+08     4.722541e+08

## Melt a DF

### Tranform columns into rows

In [9]:
# Melting the DataFrame
melted_df = pd.melt(filled_df, id_vars=['Country'], var_name='Year', value_name='Population')

print(melted_df)

           Country             Year    Population
0              USA  Population_2000  2.814219e+08
1            China  Population_2000  1.262645e+09
2            India  Population_2000  1.056570e+09
3           Brazil  Population_2000  1.744686e+08
4           Russia  Population_2000  1.467628e+07
5            Japan  Population_2000  1.269110e+08
6          Germany  Population_2000  8.243130e+07
7   United Kingdom  Population_2000  5.961520e+07
8           France  Population_2000  3.823424e+08
9              USA  Population_2010  3.087455e+08
10           China  Population_2010  1.337705e+09
11           India  Population_2010  1.230985e+09
12          Brazil  Population_2010  1.907558e+08
13          Russia  Population_2010  1.429580e+08
14           Japan  Population_2010  1.280574e+08
15         Germany  Population_2010  8.180226e+07
16  United Kingdom  Population_2010  6.276636e+07
17          France  Population_2010  4.354719e+08
18             USA  Population_2020  3.359460e+08
19           China  Population_2020  1.424798e+09
20           India  Population_2020  1.383112e+09
21          Brazil  Population_2020  2.131963e+08
22          Russia  Population_2020  1.456173e+08
23           Japan  Population_2020  1.252448e+08
24         Germany  Population_2020  8.332899e+07
25  United Kingdom  Population_2020  6.678866e+07
26          France  Population_2020  4.722541e+08

### Apply a function

In [10]:
# Define a function to convert population to billions
def to_billion(population):
    return population / 1_000_000_000

# Apply the function to Population columns
filled_df['Population_2000_Billion'] = filled_df['Population_2000'].apply(to_billion)
filled_df['Population_2010_Billion'] = filled_df['Population_2010'].apply(to_billion)
filled_df['Population_2020_Billion'] = filled_df['Population_2020'].apply(to_billion)

print(filled_df)

          Country  Population_2000  Population_2010  Population_2020  \
0             USA     2.814219e+08     3.087455e+08     3.359460e+08
1           China     1.262645e+09     1.337705e+09     1.424798e+09
2           India     1.056570e+09     1.230985e+09     1.383112e+09
3          Brazil     1.744686e+08     1.907558e+08     2.131963e+08
4          Russia     1.467628e+07     1.429580e+08     1.456173e+08
5           Japan     1.269110e+08     1.280574e+08     1.252448e+08
6         Germany     8.243130e+07     8.180226e+07     8.332899e+07
7  United Kingdom     5.961520e+07     6.276636e+07     6.678866e+07
8          France     3.823424e+08     4.354719e+08     4.722541e+08

   Population_2000_Billion  Population_2010_Billion  Population_2020_Billion
0                 0.281422                 0.308746                 0.335946
1                 1.262645                 1.337705                 1.424798
2                 1.056570                 1.230985                 1.383112
3                 0.174469                 0.190756                 0.213196
4                 0.014676                 0.142958                 0.145617
5                 0.126911                 0.128057                 0.125245
6                 0.082431                 0.081802                 0.083329
7                 0.059615                 0.062766                 0.066789
8                 0.382342                 0.435472                 0.472254

### Drop Columns

In [11]:
# Drop the Population columns
dropped_df = filled_df.drop(columns=['Population_2000', 'Population_2010','Population_2020'])

print(dropped_df)

          Country  Population_2000_Billion  Population_2010_Billion  \
0             USA                 0.281422                 0.308746
1           China                 1.262645                 1.337705
2           India                 1.056570                 1.230985
3          Brazil                 0.174469                 0.190756
4          Russia                 0.014676                 0.142958
5           Japan                 0.126911                 0.128057
6         Germany                 0.082431                 0.081802
7  United Kingdom                 0.059615                 0.062766
8          France                 0.382342                 0.435472

   Population_2020_Billion
0                 0.335946
1                 1.424798
2                 1.383112
3                 0.213196
4                 0.145617
5                 0.125245
6                 0.083329
7                 0.066789
8                 0.472254

### loc[]

In [12]:
# Accessing data for 'USA' in 'Country' column
usa_data = dropped_df.loc[dropped_df['Country'] == 'USA']

print(usa_data)

  Country  Population_2000_Billion  Population_2010_Billion  \
0     USA                 0.281422                 0.308746

   Population_2020_Billion
0                 0.335946

### isin

In [13]:
# Accessing data for 'USA','Brazil' and 'France' in 'Country' column
UBF_data = dropped_df.loc[dropped_df['Country'].isin(['USA','Brazil',"France"])]

print(UBF_data)

  Country  Population_2000_Billion  Population_2010_Billion  \
0     USA                 0.281422                 0.308746
3  Brazil                 0.174469                 0.190756
8  France                 0.382342                 0.435472

   Population_2020_Billion
0                 0.335946
3                 0.213196
8                 0.472254

### reset_index

In [14]:
print("Before Index Reseting\n", UBF_data)
UBF_data.reset_index(inplace=True, drop=True)
print("After Index Reseting\n", UBF_data)

Before Index Reseting
   Country  Population_2000_Billion  Population_2010_Billion  \
0     USA                 0.281422                 0.308746
3  Brazil                 0.174469                 0.190756
8  France                 0.382342                 0.435472

   Population_2020_Billion
0                 0.335946
3                 0.213196
8                 0.472254
After Index Reseting
   Country  Population_2000_Billion  Population_2010_Billion  \
0     USA                 0.281422                 0.308746
1  Brazil                 0.174469                 0.190756
2  France                 0.382342                 0.435472

   Population_2020_Billion
0                 0.335946
1                 0.213196
2                 0.472254

### Values_counts

In [15]:
#Double some rows
df_double = pd.concat([dropped_df, UBF_data], axis=0)
df_double

,Country,Population_2000_Billion,Population_2010_Billion,Population_2020_Billion
0,USA,0.281422,0.308746,0.335946
1,China,1.262645,1.337705,1.424798
2,India,1.056570,1.230985,1.383112
3,Brazil,0.174469,0.190756,0.213196
4,Russia,0.014676,0.142958,0.145617
5,Japan,0.126911,0.128057,0.125245
6,Germany,0.082431,0.081802,0.083329
7,United Kingdom,0.059615,0.062766,0.066789
8,France,0.382342,0.435472,0.472254
0,USA,0.281422,0.308746,0.335946
1,Brazil,0.174469,0.190756,0.213196
2,France,0.382342,0.435472,0.472254

In [16]:
# Counting occurrences of each country
country_counts = df_double['Country'].value_counts()
print(country_counts)

Country
USA               2
Brazil            2
France            2
China             1
India             1
Russia            1
Japan             1
Germany           1
United Kingdom    1
Name: count, dtype: int64

### Unique

In [17]:
# Getting unique countries
unique_countries = df_double['Country'].unique()
print(unique_countries)

['USA' 'China' 'India' 'Brazil' 'Russia' 'Japan' 'Germany'
 'United Kingdom' 'France']

### Drop Duplicates

In [18]:
# Removendo linhas duplicadas com base na coluna 'Country'
base_df = df_double.drop_duplicates(subset='Country')

print(base_df)

          Country  Population_2000_Billion  Population_2010_Billion  \
0             USA                 0.281422                 0.308746
1           China                 1.262645                 1.337705
2           India                 1.056570                 1.230985
3          Brazil                 0.174469                 0.190756
4          Russia                 0.014676                 0.142958
5           Japan                 0.126911                 0.128057
6         Germany                 0.082431                 0.081802
7  United Kingdom                 0.059615                 0.062766
8          France                 0.382342                 0.435472

   Population_2020_Billion
0                 0.335946
1                 1.424798
2                 1.383112
3                 0.213196
4                 0.145617
5                 0.125245
6                 0.083329
7                 0.066789
8                 0.472254

### Astype

In [19]:
# Melting the DataFrame
melted_df = pd.melt(base_df, id_vars=['Country'], var_name='Year', value_name='Population')

# Creating a new collumn with only the Year
melted_df["Year"]=melted_df["Year"].str[11:15]

# Applying the new type in the `Year` column
print("Tipos ANTES a conversão\n",melted_df.dtypes)
melted_df['Year'] = melted_df['Year'].astype(int)
print("Tipos APÓS a conversão\n",melted_df.dtypes)

Tipos ANTES a conversão
 Country        object
Year           object
Population    float64
dtype: object
Tipos APÓS a conversão
 Country        object
Year            int64
Population    float64
dtype: object

### to_datetime

In [20]:
# Criando uma nova coluna 'Year_date' e convertendo para tipo de dados datetime
melted_df['Year_date'] = pd.to_datetime(melted_df['Year'], format='%Y', errors='coerce')

print(melted_df.dtypes)
melted_df.head()

Country               object
Year                   int64
Population           float64
Year_date     datetime64[ns]
dtype: object

  Country  Year  Population  Year_date
0     USA  2000    0.281422 2000-01-01
1   China  2000    1.262645 2000-01-01
2   India  2000    1.056570 2000-01-01
3  Brazil  2000    0.174469 2000-01-01
4  Russia  2000    0.014676 2000-01-01

## rename

In [21]:
# Renomeando a coluna 'Country' para 'Country_Name'
renamed_df = melted_df.rename(columns={'Country': 'Country_Name'})

print(renamed_df)

      Country_Name  Year  Population  Year_date
0              USA  2000    0.281422 2000-01-01
1            China  2000    1.262645 2000-01-01
2            India  2000    1.056570 2000-01-01
3           Brazil  2000    0.174469 2000-01-01
4           Russia  2000    0.014676 2000-01-01
5            Japan  2000    0.126911 2000-01-01
6          Germany  2000    0.082431 2000-01-01
7   United Kingdom  2000    0.059615 2000-01-01
8           France  2000    0.382342 2000-01-01
9              USA  2010    0.308746 2010-01-01
10           China  2010    1.337705 2010-01-01
11           India  2010    1.230985 2010-01-01
12          Brazil  2010    0.190756 2010-01-01
13          Russia  2010    0.142958 2010-01-01
14           Japan  2010    0.128057 2010-01-01
15         Germany  2010    0.081802 2010-01-01
16  United Kingdom  2010    0.062766 2010-01-01
17          France  2010    0.435472 2010-01-01
18             USA  2020    0.335946 2020-01-01
19           China  2020    1.424798 2020-01-01
20           India  2020    1.383112 2020-01-01
21          Brazil  2020    0.213196 2020-01-01
22          Russia  2020    0.145617 2020-01-01
23           Japan  2020    0.125245 2020-01-01
24         Germany  2020    0.083329 2020-01-01
25  United Kingdom  2020    0.066789 2020-01-01
26          France  2020    0.472254 2020-01-01

### sort_values

In [22]:
# Ordenando o DataFrame por 'Population_2010' em ordem decrescente
sorted_df = renamed_df.sort_values(by='Population', ascending=False)

print(sorted_df)

      Country_Name  Year  Population  Year_date
19           China  2020    1.424798 2020-01-01
20           India  2020    1.383112 2020-01-01
10           China  2010    1.337705 2010-01-01
1            China  2000    1.262645 2000-01-01
11           India  2010    1.230985 2010-01-01
2            India  2000    1.056570 2000-01-01
26          France  2020    0.472254 2020-01-01
17          France  2010    0.435472 2010-01-01
8           France  2000    0.382342 2000-01-01
18             USA  2020    0.335946 2020-01-01
9              USA  2010    0.308746 2010-01-01
0              USA  2000    0.281422 2000-01-01
21          Brazil  2020    0.213196 2020-01-01
12          Brazil  2010    0.190756 2010-01-01
3           Brazil  2000    0.174469 2000-01-01
22          Russia  2020    0.145617 2020-01-01
13          Russia  2010    0.142958 2010-01-01
14           Japan  2010    0.128057 2010-01-01
5            Japan  2000    0.126911 2000-01-01
23           Japan  2020    0.125245 2020-01-01
24         Germany  2020    0.083329 2020-01-01
6          Germany  2000    0.082431 2000-01-01
15         Germany  2010    0.081802 2010-01-01
25  United Kingdom  2020    0.066789 2020-01-01
16  United Kingdom  2010    0.062766 2010-01-01
7   United Kingdom  2000    0.059615 2000-01-01
4           Russia  2000    0.014676 2000-01-01

### reset_index

In [23]:
# Resetando o índice
reset_df = sorted_df.reset_index(drop=True)
print(reset_df)

      Country_Name  Year  Population  Year_date
0            China  2020    1.424798 2020-01-01
1            India  2020    1.383112 2020-01-01
2            China  2010    1.337705 2010-01-01
3            China  2000    1.262645 2000-01-01
4            India  2010    1.230985 2010-01-01
5            India  2000    1.056570 2000-01-01
6           France  2020    0.472254 2020-01-01
7           France  2010    0.435472 2010-01-01
8           France  2000    0.382342 2000-01-01
9              USA  2020    0.335946 2020-01-01
10             USA  2010    0.308746 2010-01-01
11             USA  2000    0.281422 2000-01-01
12          Brazil  2020    0.213196 2020-01-01
13          Brazil  2010    0.190756 2010-01-01
14          Brazil  2000    0.174469 2000-01-01
15          Russia  2020    0.145617 2020-01-01
16          Russia  2010    0.142958 2010-01-01
17           Japan  2010    0.128057 2010-01-01
18           Japan  2000    0.126911 2000-01-01
19           Japan  2020    0.125245 2020-01-01
20         Germany  2020    0.083329 2020-01-01
21         Germany  2000    0.082431 2000-01-01
22         Germany  2010    0.081802 2010-01-01
23  United Kingdom  2020    0.066789 2020-01-01
24  United Kingdom  2010    0.062766 2010-01-01
25  United Kingdom  2000    0.059615 2000-01-01
26          Russia  2000    0.014676 2000-01-01

### set_index

In [24]:
# Definindo 'Country_Name' como o novo índice
indexed_df = reset_df.set_index('Country_Name')
print(indexed_df)

                Year  Population  Year_date
Country_Name
China           2020    1.424798 2020-01-01
India           2020    1.383112 2020-01-01
China           2010    1.337705 2010-01-01
China           2000    1.262645 2000-01-01
India           2010    1.230985 2010-01-01
India           2000    1.056570 2000-01-01
France          2020    0.472254 2020-01-01
France          2010    0.435472 2010-01-01
France          2000    0.382342 2000-01-01
USA             2020    0.335946 2020-01-01
USA             2010    0.308746 2010-01-01
USA             2000    0.281422 2000-01-01
Brazil          2020    0.213196 2020-01-01
Brazil          2010    0.190756 2010-01-01
Brazil          2000    0.174469 2000-01-01
Russia          2020    0.145617 2020-01-01
Russia          2010    0.142958 2010-01-01
Japan           2010    0.128057 2010-01-01
Japan           2000    0.126911 2000-01-01
Japan           2020    0.125245 2020-01-01
Germany         2020    0.083329 2020-01-01
Germany         2000    0.082431 2000-01-01
Germany         2010    0.081802 2010-01-01
United Kingdom  2020    0.066789 2020-01-01
United Kingdom  2010    0.062766 2010-01-01
United Kingdom  2000    0.059615 2000-01-01
Russia          2000    0.014676 2000-01-01

### merge

In [25]:
# Criando um segundo DataFrame para junção
continent = {'Country_Name': ['USA', 'China', 'India', 'Brazil'],
         'Continent': ["America", "Asia", "Asia", "America"]}
df_continent = pd.DataFrame(continent)
print("Segundo data Frame")
print(df_continent)

# Realizando a junção com base na coluna 'Country'
merged_df = pd.merge(reset_df, df_continent, on='Country_Name')

print("\n\nDataFrame após o Merge")
print(merged_df)

Segundo data Frame
  Country_Name Continent
0          USA   America
1        China      Asia
2        India      Asia
3       Brazil   America


DataFrame após o Merge
   Country_Name  Year  Population  Year_date Continent
0         China  2020    1.424798 2020-01-01      Asia
1         China  2010    1.337705 2010-01-01      Asia
2         China  2000    1.262645 2000-01-01      Asia
3         India  2020    1.383112 2020-01-01      Asia
4         India  2010    1.230985 2010-01-01      Asia
5         India  2000    1.056570 2000-01-01      Asia
6           USA  2020    0.335946 2020-01-01   America
7           USA  2010    0.308746 2010-01-01   America
8           USA  2000    0.281422 2000-01-01   America
9        Brazil  2020    0.213196 2020-01-01   America
10       Brazil  2010    0.190756 2010-01-01   America
11       Brazil  2000    0.174469 2000-01-01   America

#### Agora com todos os países

In [26]:
# Criando um segundo DataFrame para junção
continent = {'Country_Name': ['USA', 'China', 'India', 'Brazil', 'France','Russia','Japan','Germany','United Kingdom'],
         'Continent': ["America", "Asia", "Asia", "America","Europe","Asia","Asia","Europe","Europe"]}
df_continent = pd.DataFrame(continent)

# Realizando a junção com base na coluna 'Country_Name'
merged_df = pd.merge(reset_df, df_continent, on='Country_Name')

print(merged_df)

      Country_Name  Year  Population  Year_date Continent
0            China  2020    1.424798 2020-01-01      Asia
1            China  2010    1.337705 2010-01-01      Asia
2            China  2000    1.262645 2000-01-01      Asia
3            India  2020    1.383112 2020-01-01      Asia
4            India  2010    1.230985 2010-01-01      Asia
5            India  2000    1.056570 2000-01-01      Asia
6           France  2020    0.472254 2020-01-01    Europe
7           France  2010    0.435472 2010-01-01    Europe
8           France  2000    0.382342 2000-01-01    Europe
9              USA  2020    0.335946 2020-01-01   America
10             USA  2010    0.308746 2010-01-01   America
11             USA  2000    0.281422 2000-01-01   America
12          Brazil  2020    0.213196 2020-01-01   America
13          Brazil  2010    0.190756 2010-01-01   America
14          Brazil  2000    0.174469 2000-01-01   America
15          Russia  2020    0.145617 2020-01-01      Asia
16          Russia  2010    0.142958 2010-01-01      Asia
17          Russia  2000    0.014676 2000-01-01      Asia
18           Japan  2010    0.128057 2010-01-01      Asia
19           Japan  2000    0.126911 2000-01-01      Asia
20           Japan  2020    0.125245 2020-01-01      Asia
21         Germany  2020    0.083329 2020-01-01    Europe
22         Germany  2000    0.082431 2000-01-01    Europe
23         Germany  2010    0.081802 2010-01-01    Europe
24  United Kingdom  2020    0.066789 2020-01-01    Europe
25  United Kingdom  2010    0.062766 2010-01-01    Europe
26  United Kingdom  2000    0.059615 2000-01-01    Europe

### group_by

In [27]:
# Agrupando por 'Year' e calculando a soma da população
grouped_df = merged_df.groupby('Continent')['Population'].sum()

print(grouped_df)

Continent
America    1.504534
Asia       8.379280
Europe     1.726801
Name: Population, dtype: float64

### crosstab *frequência*

In [28]:
# Calculando uma tabulação cruzada entre 'Country' e 'Year'
cross_tab = pd.crosstab(merged_df['Continent'], merged_df['Year'])

print(cross_tab)

Year       2000  2010  2020
Continent
America       2     2     2
Asia          4     4     4
Europe        3     3     3

### crosstab *média*

In [29]:
# Calculando uma tabulação cruzada entre 'Country' e 'Year'
cross_tab = pd.crosstab(merged_df['Continent'], merged_df['Year'],values=merged_df['Population'],aggfunc="mean")

print(cross_tab)

Year           2000      2010      2020
Continent
America    0.227945  0.249751  0.274571
Asia       0.615201  0.709926  0.769693
Europe     0.174796  0.193347  0.207457

### pivot_table

In [30]:
# Criando uma tabela dinâmica com 'Country' como índice, 'Year' como colunas e 'Population_2010' como valores
pivot_df = merged_df.pivot_table(index='Continent', columns='Year', values='Population', aggfunc='mean')

print(pivot_df)

Year           2000      2010      2020
Continent
America    0.227945  0.249751  0.274571
Asia       0.615201  0.709926  0.769693
Europe     0.174796  0.193347  0.207457

### Multi-Index

The main difference between crosstab() and pivot_table() in Pandas lies in their intended use and the flexibility they offer for data aggregation and summarization:

```crosstab()```:

```crosstab()``` is specifically designed for computing a cross-tabulation of two or more factors.
It provides a convenient way to calculate frequency counts of specific factors in the DataFrame.
It is a specialized function mainly used for computing simple frequency tables.

```pivot_table()```:

```pivot_table()``` is a more general-purpose function that creates a spreadsheet-style pivot table as a DataFrame.
It allows for more flexibility in specifying index, columns, and aggregation functions.
It is more powerful and versatile than crosstab() as it can handle more complex data reshaping and aggregation tasks.
It can handle missing values more gracefully by providing options for handling them during aggregation.
In summary, while both crosstab() and pivot_table() can be used for reshaping and summarizing data, crosstab() is specialized for computing frequency tables, while pivot_table() is a more general tool for creating pivot tables with more flexibility in data aggregation and handling missing values.

In [31]:
# Criando uma tabela dinâmica com 'Country' e 'Continent' como índices, 'Year' como colunas e 'Population_2010' como valores
pivot_df = merged_df.pivot_table(index=['Continent','Country_Name'], columns='Year', values='Population', aggfunc='mean')

print(pivot_df)

Year                          2000      2010      2020
Continent Country_Name
America   Brazil          0.174469  0.190756  0.213196
          USA             0.281422  0.308746  0.335946
Asia      China           1.262645  1.337705  1.424798
          India           1.056570  1.230985  1.383112
          Japan           0.126911  0.128057  0.125245
          Russia          0.014676  0.142958  0.145617
Europe    France          0.382342  0.435472  0.472254
          Germany         0.082431  0.081802  0.083329
          United Kingdom  0.059615  0.062766  0.066789

### resample

In [32]:
#Chose a country
br_df = merged_df[merged_df["Country_Name"]=="Brazil"]

# set Date at the end of the Year
br_df['Year_date'] = pd.to_datetime(br_df['Year'].astype(str) + '-12-31', format='%Y-%m-%d', errors='coerce')

# set Index
br_df.set_index('Year_date', inplace=True)

print("Data Frame pronto para o resample, mas com os anos faltando")
print(br_df)

Data Frame pronto para o resample, mas com os anos faltando
           Country_Name  Year  Population Continent
Year_date
2020-12-31       Brazil  2020    0.213196   America
2010-12-31       Brazil  2010    0.190756   America
2000-12-31       Brazil  2000    0.174469   America

<ipython-input-32-100853b1c3e0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  br_df['Year_date'] = pd.to_datetime(br_df['Year'].astype(str) + '-12-31', format='%Y-%m-%d', errors='coerce')

In [33]:
# Resample from 10-year to yearly frequency
# Interpolate to distribute yearly values evenly across years
df_yearly = br_df.resample('Y').interpolate('linear')  # Resample yearly data to monthly and fill missing values
print("\n\nData Frame com os valores numéricos interpolados")
print(df_yearly.head)

Data Frame com os valores numéricos interpolados
<bound method NDFrame.head of            Country_Name    Year  Population Continent
Year_date
2000-12-31       Brazil  2000.0    0.174469   America
2001-12-31          NaN  2001.0    0.176097       NaN
2002-12-31          NaN  2002.0    0.177726       NaN
2003-12-31          NaN  2003.0    0.179355       NaN
2004-12-31          NaN  2004.0    0.180983       NaN
2005-12-31          NaN  2005.0    0.182612       NaN
2006-12-31          NaN  2006.0    0.184241       NaN
2007-12-31          NaN  2007.0    0.185870       NaN
2008-12-31          NaN  2008.0    0.187498       NaN
2009-12-31          NaN  2009.0    0.189127       NaN
2010-12-31       Brazil  2010.0    0.190756   America
2011-12-31          NaN  2011.0    0.193000       NaN
2012-12-31          NaN  2012.0    0.195244       NaN
2013-12-31          NaN  2013.0    0.197488       NaN
2014-12-31          NaN  2014.0    0.199732       NaN
2015-12-31          NaN  2015.0    0.201976       NaN
2016-12-31          NaN  2016.0    0.204220       NaN
2017-12-31          NaN  2017.0    0.206464       NaN
2018-12-31          NaN  2018.0    0.208708       NaN
2019-12-31          NaN  2019.0    0.210952       NaN
2020-12-31       Brazil  2020.0    0.213196   America>

In [34]:
# Forward fill 'Country_Name' and 'Continent' column
non_numeric_columns=df_yearly.select_dtypes(include='object').columns
df_yearly[non_numeric_columns] = df_yearly[non_numeric_columns].ffill()

print("\n\nData Frame completo")
print(df_yearly)

Data Frame completo
           Country_Name    Year  Population Continent
Year_date
2000-12-31       Brazil  2000.0    0.174469   America
2001-12-31       Brazil  2001.0    0.176097   America
2002-12-31       Brazil  2002.0    0.177726   America
2003-12-31       Brazil  2003.0    0.179355   America
2004-12-31       Brazil  2004.0    0.180983   America
2005-12-31       Brazil  2005.0    0.182612   America
2006-12-31       Brazil  2006.0    0.184241   America
2007-12-31       Brazil  2007.0    0.185870   America
2008-12-31       Brazil  2008.0    0.187498   America
2009-12-31       Brazil  2009.0    0.189127   America
2010-12-31       Brazil  2010.0    0.190756   America
2011-12-31       Brazil  2011.0    0.193000   America
2012-12-31       Brazil  2012.0    0.195244   America
2013-12-31       Brazil  2013.0    0.197488   America
2014-12-31       Brazil  2014.0    0.199732   America
2015-12-31       Brazil  2015.0    0.201976   America
2016-12-31       Brazil  2016.0    0.204220   America
2017-12-31       Brazil  2017.0    0.206464   America
2018-12-31       Brazil  2018.0    0.208708   America
2019-12-31       Brazil  2019.0    0.210952   America
2020-12-31       Brazil  2020.0    0.213196   America

## Referências

| Método           | Descrição                                         | Link na Documentação                                           |
|------------------|---------------------------------------------------|---------------------------------------------------------------|
| apply()          | Aplica uma função ao longo de um eixo do DataFrame | [apply()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html) |
| astype()         | Converte o tipo de dados de uma Series           | [astype()](https://pandas.pydata.org/docs/reference/api/pandas.Series.astype.html) |
| concat()         | Concatena DataFrames ao longo de um eixo específico | [concat()](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) |
| crosstab()       | Calcula uma tabulação cruzada de dois ou mais fatores | [crosstab()](https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html) |
| drop()           | Descarta rótulos especificados de linhas ou colunas | [drop()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) |
| drop_duplicates()| Remove linhas duplicadas de um DataFrame         | [drop_duplicates()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html) |
| fillna()         | Preenche valores NA/Nan usando o método especificado | [fillna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html) |
| ffill()          | Preenche os valores ausentes para a frente usando o último valor válido conhecido | [ffill()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.ffill.html) |
| groupby()        | Agrupa DataFrame usando um mapeador ou por uma Series de colunas | [groupby()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) |
| iloc[]           | Acessa um grupo de linhas e colunas por posição inteira | [iloc[]](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) |
| interpolate()    | Preenche valores NA/Nan interpolando entre valores válidos conhecidos | [interpolate()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html) |
| isin()           | Verifica se os elementos de um DataFrame estão contidos em outro DataFrame ou Series | [isin()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html) |
| loc[]            | Acessa um grupo de linhas e colunas por rótulos  | [loc[]](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) |
| merge()          | Junta objetos DataFrame realizando uma operação de junção estilo banco de dados | [merge()](https://pandas.pydata.org/docs/reference/api/pandas.merge.html) |
| melt()           | Despivota um DataFrame de formato largo para longo | [melt()](https://pandas.pydata.org/docs/reference/api/pandas.melt.html) |
| pivot_table()    | Cria uma tabela dinâmica no estilo de uma planilha como um DataFrame | [pivot_table()](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html) |
| rename()         | Renomeia colunas ou índices de um DataFrame     | [rename()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html) |
| resample()       | Realiza uma amostragem temporal em uma série de dados | [resample()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.resample.html) |
| reset_index()    | Redefine o índice de um DataFrame para o padrão numérico | [reset_index()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html) |
| set_index()      | Define o índice do DataFrame usando colunas existentes | [set_index()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html) |
| sort_values()    | Ordena DataFrame pelos valores ao longo de um eixo específico | [sort_values()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html) |
| to_datetime()    | Converte argumento para datetime                 | [to_datetime()](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) |
| unique()         | Obtém valores únicos em uma Series               | [unique()](https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html) |
| value_counts()   | Conta valores únicos em uma Series               | [value_counts()](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html) |


## Autores

<a href="https://www.linkedin.com/in/eduardopecora/" target="_blank">Eduardo Pecora</a>

## Log de modificações

| Data | Versão | Modificado por | Descrição |
| -----------| ------- | ---------- | ---------------------------------- |
| 13-05-2024       | 1.0   | Eduardo Pecora    | Estrutura Aula        |

<h3 align="center"> (c) Eduardo Pécora/ UFPR 2024. All rights reserved. <h3/>